<%= simple_form_for @store, html: { class: 'form-horizontal' } do |f| %>


<div class="row">
	<div class="span7">
		<%= render :partial => 'store_fields', :locals => { :f => f } %>
	</div>

	<div class="span5">
		<div id="store_flavors">
			<%= render :partial => 'store_flavor_fields', :locals => { :f => f } %> 
		</div> 
	</div>

</div>

<% end %>