<h3>Job History</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Jobs</th>
    </tr>
  </thead>
  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @jobs, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>